body{
    background-color: #24353f;
    height: 100vh;
}
#userName{
    background-color: #24353f;
   
}
#userEmail{
    background-color: #24353f;
   
}
#userPass{
    background-color: #24353f;
   
}
#userEmailLog{
    background-color: #24353f;
   
}
#userPassLog{
    background-color: #24353f;
   
}
input::placeholder {
    color: white !important;
    
    
  }
.height{
    height: 50vh;
}
